body {
    font-family: "Rubik", sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #F6F6F6;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/* header start */
.header-inner {
    align-items: center;

}

.header-inner-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    margin: 0;
}

.header-inner-top-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-inner-top-right-search {
    margin: 0;
    border: 5px solid #FFFFFF;
    border-radius: 16px;
    padding: 15px 190px 13px 13px;
    text-align: left;

}

.numbeer {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header-inner-top-right-link {
    margin-left: 30px;
    text-decoration: none;
    color: #FFFF;
    background-color: #7296EC;
    padding: 10px 20px;
    border: 1px solid #7296EC;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.header-inner-top-right-link:hover {
    background-color: #354c82;

}

.header-inner-bottom {
    margin: 0 auto;
    padding: 30px 0;
    align-items: center;
    border-bottom: 1px solid #D1D1D1;
}

.numbeer-text {
    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin: 0 auto;
}

.numbeer-span {
    font-size: 16px;
    font-weight: 400;
    color: blue;
    margin: 0 auto;
}

.header-inner-bottom-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    padding: 0;
}

.header-inner-bottom-list-item {
    list-style: none;
    margin: 0 auto;
}

.header-inner-bottom-list-item-link {
    text-decoration: none;
    color: #7F7F7F;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    transition: 0.3s ease-in-out;

}

.header-inner-bottom-list-item-link:hover {
    color: #1a73e8;
    border-bottom: 2px solid #1a73e8;

}

/* header finished */
/* img start */
.img-inner {
    padding: 40px 0 50px 0;
}

/* new start */
.new-inner-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 20px;
}

.new-inner-list-item {
    padding: 20px 18px 15px 17px;
    max-width: 345px;
    width: 100%;
    background-color: #ebebee;
    border-radius: 15px;
}

.new-inner-list-item-img {
    border-radius: 10px;
    margin-bottom: 15px;
}

.new-inner-list-item-title {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 8px 0;

}

.new-inner-list-item-text {
    font-size: 16px;
    color: #4A4B4C;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.extra {
    align-items: center;
    display: flex;
    gap: 10px;
}

.extra-img {
    border-radius: 5px;
}

.extra-span {
    font-size: 12px;
    font-weight: 400;
    color: #5E5F61;
    margin: 0;
}

/* new finished */
/* img-2 start */
.img-2 {
    padding: 40px 0;
}

.img-2-inner {
    background-image: url(../images/bkg.png);
    background-position: calc(50% - 1px) calc(50% - 1px);
    background-repeat: no-repeat;
    background-size: 1400px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 24px 0;
    border: 1px solid white;
    border-radius: 8px;
    width: 1050px;
}

.img-2-inner-title {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    margin: 0 20px;
}

.img-2-inner-link {
    background-color: #F78B3B;
    color: #FFFF;
    font-size: 18px;
    font-family: 500;
    margin: 0 70px;
    padding: 13px 30px;
    border: 1px solid #F78B3B;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.img-2-inner-link:hover {
    background-color: #7d5434;
}

/* img-2 finished */
/* world start */
/* .world-inner-title {
    font-size: 24px;
    font-weight: 500;
    color: #000;
    margin: 40px 0 20px 0;
}

.world-inner-left-left-list {
    list-style: none;
    border-radius: 15px;
}


.world-inner-left-left-img-box-img {
    border-radius: 10px;
}

.world-inner-left-left-list-item {
    max-width: 795px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    padding: 20px;
    background-color: #F6F6F6;
    margin: 0 0 10px 0;
}

.world-inner-left-left-list-item-type {
    display: flex;
    flex-direction: column;
}

.world-inner-left-left-list-item-type-title {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin: 20px 20px 10px 15px;
}

.world-inner-left-left-list-item-type-text {
    font-size: 18px;
    font-weight: 400;
    color: #4A4B4C;
    margin: 0 20px 10px 15px;
} */

.world-inner {
    display: flex;
    gap: 10px;
}

.world-left {
    width: 797px;
    margin: 0;
}

.world-title {
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 20px 0;
    color: #000;
}

.world-list {
    list-style: none;
}

.world-item {
    display: flex;
    gap: 10px;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 17px;
    align-items: center;
}

.world-img {
    width: 210px;
    height: 165px;
    object-fit: cover;
    border-radius: 10px;
}

.world-item-title {
    font-size: 20px;
    margin: 0 0 10px 0;
    font-weight: 500;
}

.world-item-desc {
    font-size: 16px;
    color: #4A4B4C55;
    font-weight: 400;
    margin: 0 0 17px 0;
}

.extra {
    display: flex;
    align-items: center;
}

.world-inner-left-link {
    background-color: #EAEAEA;
    color: #000;
    margin: 17px 0 100px 0;
    text-decoration: none;
    padding: 17px 343px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.world-inner-left-link:hover {
    background-color: #a7a7a7;
}
.world-right-top {
    width: 393px;
    background: #ffffff;
    padding: 20px 0;
    border-radius: 15px;
}

.world-right-title {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 20px 0;

}

.world-right-text {
    font-size: 13px;
    color: #5E5F61;
    margin-bottom: 15px;
    padding-bottom: 20px;
    font-weight: 400;
    border-bottom: 1px solid #D2D2D2;
}

.world-right-bottom-img {
    border-radius: 15px;
}




/* world finished */
/* footer start */
.footer {
    background: #7297EF;
    padding: 40px 0;
}



.footer-inner-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: 1px solid #CECECE;
}

.footer-inner-top-left-img {
    margin: 0 0 15px 0;
}

.footer-inner-top-left {
    width: 300px;
}



.footer-inner-top-left-text {
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
    margin: 0;
}

.footer-inner-top-right-wrapper {
    display: flex;
    gap: 80px;
}

.footer-inner-top-right-list {
    list-style: none;
    padding: 0;
    margin: 0 0 30px 0;
}

.footer-inner-top-right-list-item {
    margin-bottom: 20px;
}

.footer-inner-top-right-list-link {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    transition: 0.1s ease-in-out;
}

.footer-inner-top-right-list-link:hover {
    color: #dbd6d6;
}

.footer-inner-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.footer-inner-bottom-title {
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    margin: 0;
}

.footer-inner-bottom-social {
    display: flex;
    gap: 25px;
    margin: 0;
}

.footer-inner-bottom-social-link {
    display: inline-flex;
    transition: 0.3s ease-in-out;
}

.footer-inner-bottom-social-link:hover {
    transform: translateY(-3px);
}

/* foooter finished */